:root {
  --header-color: #f7a812;
  --primary-color: #cc8407;
  --secondary-color: #96bd40;
  --third-color: #363636;
  --fourth-color: #66821a;
  --background-color: #f8f8f8;
  --background-color-header: #d2d6d7;
}
body {
  position: relative;
}

.body-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(/img/background-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}
a:hover {
  color: var(--header-color);
}
header {
  margin-bottom: 30px;
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 5px 16px;
  opacity: 0.9;
}
h1 {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  color: var(--header-color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  text-align: center;
  font-weight: 400;
  line-height: 1;
  font-size: 20px;
  color: var(--header-color);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 0px;
}

.form-container {
  padding: 30px 30px 0;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0px 4px 30px rgba(39, 33, 66, 0.08);
  opacity: 0.9;
}
form {
  display: flex;
}
.hint {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 5px;

  color: var(--fourth-color);
}
.instructions {
  padding: 16px;
  border: 2px solid var(--fourth-color);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: var(--fourth-color);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.submit-button {
  font-size: 16px;
  margin-left: 10px;
  background-color: var(--fourth-color);
  border: none;
  color: white;
  width: 150px;
  border-radius: 50px;
  padding: 14px 20px;
}
.hidden {
  display: none;
}
.recipe {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  background-color: white;
  opacity: 0.9;
  color: var(--fourth-color);
  padding: 20px;
  line-height: 2;
  border-left: 3px solid var(--secondary-color);
  box-shadow: 0px 4px 30px rgba(39, 33, 66, 0.08);
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.copyButton {
  display: flex;
  justify-content: center;
}
#copyButton {
  background-color: var(--background-color);
  text-align: center;
  padding: 7px 10px;
  border-radius: 6px;
  border-color: var(--fourth-color);
  margin-top: 20px;
  font-size: 13px;
  color: var(--fourth-color);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  opacity: 0.9;
}
#copyButton:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

footer {
  background-color: transparent;
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: var(--background-color);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  opacity: 0.9;
}
